.project-container.outer
  .project-container.inner
    %header
      %h1
        Project Name
      %div
        track nav
      %div
        user nav
      %div
        issue nav
    %main
      %div
        track stage categories
        %div
          track stage
          %div
            track version
            %div
              audio file.
